* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    min-height: 100vh;
    background: linear-gradient(135deg, #1e90ff, #00bcd4);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background: white;
    padding: 25px;
    width: 500px;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #1e90ff;
}

.input-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}
input-box button{
    grid-column: span 3;;
}
.input-box input{
    width : 100%;
    box-sizing: border-box;
}

input, button {
    padding: 8px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

button {
    background: #1e90ff;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #187bcd;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

th {
    background: #f4faff;
}

td button {
    background: red;
    padding: 5px 8px;
    font-size: 12px;
    border-radius: 4px;
}
